.appointmentdetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.appointment-card {
    width: 90%;
    justify-content: left;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out;
}

.appointment-card:hover {
    transform: scale(1.02);
}

.appointment-card p {
    margin: 8px 0;
    font-size: 16px;
}

.appointment-card strong {
    color: #333;
}

.appointment-icon {
    margin-right: 860px;
    font-size: 24px;
    color: #000000;
}
    